/* Utility classes */
.required-field{
    color: red;
}
.bold-underline{
    /* text-decoration: underline; */
    font-weight: bold;
}
.display-block{
    display: block;
}
.orange-font, .orange-font:hover, .orange-font:focus{
    color: orange !important;
}
.no-border{
    border:none !important;
}
.current-stocks-container{
    max-width: 1200px;
    margin: auto;
}
.form-field-generic-size{
    width:19em !important;
}

.stock-inflow-container{
    max-width: 600px;
    margin: auto;
}
.stock-inflow-transaction-completed-container{
    max-width: 900px;
    margin: auto;
}
.stock-outflow-receipt{
    max-width: 1400px;
    margin: auto;
}
.stock-outflow-container{
    max-width: 600px;
    margin: auto;
}
.stock-outflow-transaction-completed-container{
    max-width: 900px;
    margin: auto;
}
.receipt-headings{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.add-new-product-container{
    max-width: 600px;
    margin: auto;
}
.transactions-container{
    max-width: 1200px;
    margin: auto;
}
.transaction-headers{
    display: flex;
    justify-content: space-between;
}
.transaction-headers .transactions_filter_and_print_buttons{
    display: flex;
    /* align-items: center; */
}
.transaction-headers .transactions_filter_and_print_buttons button {
    margin-right: 10px; /* Add some spacing between the buttons if needed */
}
.take-print-btn{
    margin-left: 25em;
}
.take-print-btn-add-product{
    margin-left: 15em;
}
.server-down-container{
    max-width: 700px;
    margin: auto;
}
.custom-margin-bottom-2 {
    margin-bottom: 2px;
}
  
  /* Printing styles */
  @media print {
    @page {
        size: landscape;
      }
    body {
      margin: 0;
      padding: 0;
    }
  
    /* Hide unnecessary elements */
    footer, nav {
      display: none;
    }
  
    /* Expand content to fill the printable area */
    main {
      width: 100vw;
      height: 100vh;
      overflow: auto;
    }
  }
  